p {
    color: white;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 150%;
}
.paragraphs{
    padding-top: 0%;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/assets/bluegrad.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #cccccc;
    overflow-x: hidden;
  }

img {
    border: 5px solid white;
    position: relative;

    float: right;
 
    margin-right: 10%;
  }

h1{
    color:white;
    position:relative;
    bottom:0;
    left:10vw;
    font-size:5vw;
    text-shadow:lightskyblue 3px 3px;
}