


body {
    font-family: 'Exo', sans-serif;
    background-image: url("/assets/bluegrad.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #cccccc;
    overflow-x: hidden;
    margin: 0;
  }
  @media (max-width:640px){
    img{
        display:none;
    }
}
img {
  border: 0.25vw solid white;
  position: relative;
  width: 15em;
  float: right;
  border-radius: 50%;
  
  margin-left: 5%;
 margin-top: 5%;

  }

h1{

	font-size: 48px;
	color: #FFFFFF;
	margin-bottom: 12px;
    text-shadow:lightskyblue 2px 2px;
    padding:0;
    
}

a{
  display: inline-block;
  color: lightskyblue ;
  text-decoration: none;
  font-size: medium;
  margin: 0;
  
}
#bottomRightText{
  color: white;
  margin-right: 10%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: x-large;
  text-align: right;
}

.section{
  padding-bottom: 48px;
	margin-bottom: 48px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

p {
 
  padding-top: 0%;
  
  color: white;
  
  
  font-size: 20px;
  margin-right: 0%;
  
}
#content{
  max-width: 712px;
	margin: 0 auto;
	padding: 64px 24px;
  padding-top: 12px;
}
h3{
  font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 16px;
}