body {
    background-image: linear-gradient(to right, #642667 , #CE0058);
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
    color: white;
    text-align: center;
    text-shadow: 5px 5px rgb( 100, 38, 103);
    margin: 0;
    padding-bottom: 1%;
    font-size: 600%;
   
  }
  h2{
    color: white;
    text-align: center;
    text-shadow: 3px 3px rgb( 100, 38, 103);
    margin: 0;
    padding-top: 3%;
  }
#codingProjsText{
 
  margin-top:0;
margin-right:auto;
margin-bottom:0;
margin-left: 10vw;
 
}
  #codingProjects{
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-top: 0%;
    position: relative;
  }

#hokietalk{
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
  margin-top: 0%;
  position: relative;
}

p{
  color: white;
  text-align: left;
 
  text-shadow: 2px 2px rgb( 100, 38, 103);
}