body {
   /* background-image: linear-gradient(to right, #642667 , #CE0058);
    background-color: rgb(255, 255, 255);rgb(39, 39, 39)*/
    /* background-color: rgb(51,51,51); */
	/* background-color: rgb(160,208,248); */
	background-color: #F8DD74;
    /* font-family: 'Exo', sans-serif; */
	
	font-family: 'Epilogue', sans-serif;
  }
  body::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }
#content{
  max-width: 512px;
	margin: 0 auto;
	padding: 64px 24px;
	padding-top: 0;
	margin-top: 55px;
	overflow: auto;
}
a{
  color: black;
  margin-right: 10px;
 
  /*text-decoration: none;*/
}
a:hover {
  text-decoration: underline;
}
.section{
  padding-bottom: 48px;
	margin-bottom: 48px;
	border-bottom: 6px dashed #d142c821;
}
h1 {
	font-weight: 800;
	font-size: 48px;
	color: #D142C7;
	
	margin-bottom: 12px;
}
h2 {
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	color: black;
	margin-bottom: 16px;
}
h3 {
	margin-bottom: 16px;
}
a.code {
	font-weight: 200;
	color: #D142C7;
	
}

.link {
	font-size: 16px;
	line-height: 20px;
	color: rgb(0, 0, 0);
	margin-right: 12px;
	
}
.links .link {
	margin-right: 0;
	display: block;
	margin-bottom: 16px;
}
h4{
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 16px;
}

h6 {
	font-weight: 200;
	font-size: 14px;
	color: black;
	margin-bottom: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
p {
	font-size: 18px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.8);
	color: black;
	margin-bottom: 16px;
}
ul li {
	margin-bottom: 32px;
}
ul li:last-of-type {
	margin-bottom: 0;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

html{
	height:100%;
}
.section:last-of-type {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
::selection {
	background: #fcc900; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
	background: #fcc900; /* Gecko Browsers */
  }
  .material-icons.md-18 { font-size:20px;
	display: inline-flex;
    vertical-align: middle;
}

a#bit {
	color: #D142C7 ;
	margin: 0;
	font-weight: 500;
}
