/*shows how to center a div in its container*/
canvas {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    padding: 10px;
    text-align: center;
  }
  body {
    font-family: 'Courier New', Courier, monospace;
   }
  button{
    background-color: #333f47; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    transform: translate(500%,705px);
  }

  p {
    text-align: center;
    font-size: 24px;
  }

  h6 {
    text-align: center;
  }
  h5 {
    font-size: 4px;
    transform: translate(1280px,75px);
    
  }

  .slider {
    transform: translate(200px,10px);
  }
