@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,900&display=swap');
* {
  font-family: 'Nunito Sans', helvetica;
  margin: 0px;
  
}

#header {
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.04); */
  background-color: #efefef;
  cursor: default;
  margin: 0px;
  display: block;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  /* text-align: center; */
  background: #e0e0e0;
	background: rgba(255, 255, 255, 0.99);
  box-shadow:  -5px 5px 10px #bebebe,
             1px -5px 10px #ffffff;

  z-index: 2;
 
}
.container {
    margin: 20px auto;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 112px;
  background-color:#fff;
  display:grid;
  /* grid-template-columns: 4fr 4fr;
  grid-row: auto auto;
  grid-column-gap: 10%;
  grid-row-gap: 20px; */

  }
  #content {
 
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

.grid-item {
    background-color: #efefef;
    display:flex;
    justify-content:center;
    color: #3d3d3d;
    text-decoration: none;
    height:510px;
    width: 420px;
 }


h1 {
    text-align: center;   
    font-weight: 500;
    color: #3d3d3d;
    font-size: 18px;
    line-height: 64px;

   
}

h3 {
 
  margin-left: 5%;
  margin-top: 16px;
  
}

p {
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 10px;
  font-size: 16px;
  color: #5e5d5d;
}

.image > img {
  display: block;
	object-fit: cover;
	width: 100%;
  max-height: 100%;
  border-radius:10px 10px 0px 0px;

 
  }

body, .container {
  background: #D1D9E6;
}

body {
  margin: 0px;
}
head {
  margin: 0px;
  padding: 0px;
}
  
  @media screen and (min-width: 601px) {
    .grid-item {
      border-radius:10px;
      box-shadow: #6c8dc2ad;
    margin-bottom: 48px;
    background: #e0e0e0;
    background: linear-gradient(rgba(255, 255, 255, 0.99), rgba(231, 231, 231, 0.7));
    box-shadow:  -50px 25px 50px #bebebe,
               5px -25px 50px #ffffff;
        
    }
  }

  @media screen and (max-width: 600px) {
    .grid-item {
      border-radius:0px;
    
    }
    .container {
      margin: 0;
      margin-top: auto;
    }
    .grid-item {
      margin-bottom: 0px;
    }
  }

  .material-symbols-outlined {
    /* position: fixed;
    display: block;
   line-height: 64px;
  */
    /* text-decoration: none;
  margin-top: 16px;
  margin-left: 10px;
  position:absolute;
  top:0;
  box-shadow:  -50px 25px 50px #bebebe,
               5px -25px 50px #ffffff; */
  }




  button {
    position: fixed;
    margin-top: 13px;
  margin-left: 10px;
    width: 32px;
    height: 32px;
    text-align: center;
    /* margin: 5px;  */
  
    background: #efefef;
    border: none;
    border-radius: 25px;
    color: #444;
    font-size: 1.1rem;
    font-weight: 1000;
    /* letter-spacing: .2rem; */
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    /* box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
          -6px -6px 10px rgba(255, 255, 255, .5),
          6px 6px 8px rgba(255, 255, 255, .075),
          6px 6px 10px rgba(0, 0, 0, .15); */
          box-shadow:  -5px 5px 10px #bebebe8f,
               5px -5px 10px #ffffff83;
         padding: 5px;
  
  
    }

    button:hover {
      box-shadow: -2px -2px 4px rgba(54, 50, 50, 0.25),
            -2px -2px 4px rgba(255, 255, 255, .4),
            2px 2px 2px rgba(255, 255, 255, .05),
            2px 2px 4px rgba(0, 0, 0, .1);
      }
      button:active {
      box-shadow: inset -2px -2px 6px #c9cccf,
            inset -2px -2px 4px rgba(255, 255, 255, .5),
            inset 2px 2px 2px rgba(255, 255, 255, .075),
            inset 2px 2px 4px rgba(0, 0, 0, .15);
      
          }